---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://fearcrossingttv.github.io/FifthCircleGNU/",
    description: "Fifth Circle Studios official website",
    icon: "mdi:home",
  },
  {
    url: "https://gitlab.com/fifth-circle-studios/Fifth-Circle-GNU",
    description: "View Fifth Circle GNU on GitLab",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://discord.gg/KpJq8vX",
    description: "The Fifth Circle on Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://twitter.com/fifthcirclegnu",
    description: "Fifth Circle Studios on Twitter",
    icon: "fa-brands:twitter",
  },
];
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
